# /usr/lib/systemd/system/mt-backend.service

[Unit]
Description=More Tech 4 Backend

[Service]
Type=oneshot
ExecStart=/usr/sbin/runuser -l john -c '/home/john/more_tech4/backend/venv/bin/gunicorn --chdir /home/john/more_tech4/backend app:app -b 127.0.0.1:8080 --workers=1 --error-logfile /home/john/log/error.log --access-logfile /home/john/log/access.log --capture-output --log-level debug --reload'

[Install]

WantedBy=multi-user.target